<!-- ************************************************ FOOTER ************************************************************* -->
<footer>
    <div class="footerDiv">
        <p>
            C’est tout pour l’instant,<br/> suivez-nous sur les réseaux <br/> sociaux et inscrivez-vous à la <br/> newsletter pour rester <br/> connecté(e) !
        </p>
    </div>
    <div>
        <img class="linkled" src="../images/linkled.png" />
        <img class="instagram" src="../images/instagrame.png" />
        <img class="twitter" src="../images/twitter.png" />
        <img class="facebook" src="../images/facebook.png" />

    </div>
</footer>
</div>
</body>
</html>