<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portail ODK</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/script.js" defer ></script>
</head>
<body>
    <div class="contenaire">

        <!-- ************************************************ HEADER ************************************************************* -->
        <header>
            <div class="header">
            <div><img class="logo" src="../images/odc.png"/></div>
            <nav>
                <div><a href="#"><img class="search" src="../images/search2.png" />
                </a></div>
                <div><a href="#"><img class="user" src="../images/user_icon.png" /></a></div>     
                <div><a href="#"> <img class="power" src="../images/power_orange2.png" /></a></div>
                
            </nav>
        </div>
        </header>
        

        